.upper-border {
    top: 0;
    position: fixed;
    color: #777;
    background-color: #ccc;
    width: 100%;
    height: 100px;
    left: 0;
}

.lower-border {
    bottom: 0;
    position: fixed;
    color: #777;
    background-color: #ccc;
    width: 100%;
    height: 100px;
    left: 0;
}

.lower-border span {
    position: absolute;
    bottom: 0;
}

.CurrentTimer {
    z-index: 100;
    position: relative;
    background-color: white;
    top: 700px;
    width: 220px;
    height: 25px;
    border: 1px solid black;
    margin: 1500px 0 1500px 120px;
}
