.App {
  padding: 10px;
  height: 2000px;
}

.App .up {
  position: fixed;
  width: 100%;
  top: 100px;
}

.App .down {
  position: fixed;
  width: 100%;
  top: 500px;
}

.CurrentTimer {
  position: relative;
  top: 700px;
  width: 220px;
  border: 1px solid black;
  padding: 5px;
  margin-left: 20px;
}
